@import "../../container/colors.scss";

.myMovieList, .myShows{
    margin: 20px 0px;
    h2{
        margin-bottom: 10px;
        font-weight: 400;
    }
}
.movie_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 5px;
}